@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yellowtail;
  src: url("../fonts/Yellowtail-Regular.ttf");
}

@font-face {
  font-family: opensans;
  src: url("../fonts/OpenSans.ttf");
}

body {
  background-image: url("/JetGetter_Mint_Day.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

* {
  font-family: opensans, monospace;
}

.text-shadow {
  color: white;
  text-shadow: 5px 3px black;
}
